*{
    font-family: 'Press Start 2P', cursive;;
 }
 
 h1{
     text-align: center;
 }
 a{
     text-align: center;
 }
 
 #mainArticle{
     display: flex;
     justify-content: center;
     flex-flow: column wrap;
     width: 500px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #form_difficulties{
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
 }
 
 .radioContainer{
     display: flex;
     justify-content: center;
     margin-bottom: 15px;
 }